<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:p="http://www.springframework.org/schema/p"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy />
    	
    <bean id="fitchyAspectJObserver" class="com.googlecode.fitchy.spring.SpringAspectJObserver">
        <property name="featureContext" ref="fitchyContext" />
    </bean>

    <bean id="fitchyConfig" class="com.googlecode.fitchy.Configuration" factory-method="getDefault" />
    
	<bean id="contextFactory" class="com.googlecode.fitchy.spring.FeatureContextFactory">
	    <property name="config" ref="fitchyConfig"/>
	    <property name="resourceUrl" value="classpath:sample_features.properties" />
	</bean>
	
	<bean id="fitchyContext" factory-bean="contextFactory" factory-method="createContext" />
	
	<bean id="helloWorld" class="com.googlecode.fitchy.SpringHelloWorld" />
	
</beans>